@import '../../tokens.scss';
$base-class: 'Content';

.#{$base-class} {
  opacity: 1;
  transition: opacity $fade-time;

  &--loading {
    display: flex;
    justify-content: space-evenly;
    opacity: 0.5;

    .#{$base-class}-section {
      display: flex;
    }
  }

  strong {
    color: $special-color;
  }

  &-section {
    background: $section-bg-color;
    border: $line-thickness solid $line-color;
    border-radius: $box-radius;
    margin: $vertical-space $box-padding;
    padding: $box-padding;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &-block {
    &--center {
      text-align: center;
    }
  }

  &-quote {
    footer {
      margin-top: -0.8em;
      text-align: right;
    }
  }

  &-heading {
    color: $special-color;
    font-family: $heading-font;
    font-weight: normal;
    line-height: 1;
  }

  &-link {
    color: $link-color;
    text-decoration: underline;
    text-decoration-color: $link-line-color;
    transition: color $focus-time, text-decoration-color $focus-time;

    &:focus,
    &:hover {
      color: $link-focus-color;
      text-decoration-color: $link-line-focus-color;

      .#{$base-class}-image {
        border-color: $link-line-focus-color;
      }
    }

    .#{$base-class}-image {
      border-color: $link-line-color;
    }

    &--external {
      text-decoration-color: $link-line-special-color;

      &:focus,
      &:hover {
        text-decoration-color: $link-line-special-focus-color;

        .#{$base-class}-image {
          border-color: $link-line-special-focus-color;
        }
      }

      .#{$base-class}-image {
        border-color: $link-line-special-color;
      }
    }
  }

  &-image {
    border: $line-thickness solid $line-color;
    border-radius: $box-radius;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100%;
    transition: border-color $focus-time;

    &--left {
      float: left;
      margin-bottom: $box-padding;
      margin-right: $box-padding;
      max-width: 50%;
    }

    &--right {
      float: right;
      margin-bottom: $box-padding;
      margin-left: $box-padding;
      max-width: 50%;
    }

    &--center {
      display: block;
      margin: 0 auto;
    }

    &--no-border {
      border: 0;
      border-radius: 0;
    }

    &--no-max {
      max-height: none;
      max-width: 100%;
    }
  }
}
