@import '../../tokens.scss';
$base-class: 'Content';

@keyframes delayedFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.#{$base-class} {
  opacity: 1;
  transition: opacity $fade-time;

  &--loading {
    opacity: 0.5;

    .#{$base-class}-section {
      animation: delayedFadeIn $fade-time*2;
      display: flex;
      justify-content: center;
    }
  }

  &-section {
    background: $section-bg-color;
    border: $line-thickness solid $line-color;
    border-radius: $box-radius;
    margin: $section-space $box-padding;
    padding: $box-padding;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  &-block {
    margin: $block-space 0;

    &--center {
      text-align: center;
    }
  }

  figure.#{$base-class}-block {
    padding: $box-padding;

    figcaption {
      font-size: $small-font-size;
      line-height: 1.1;
    }
  }

  &-list {
    margin: $block-space 0;
    padding: 0 0 0 $block-space*2;

    li {
      padding: 0 0 $box-padding;

      > p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-quote {
    margin: $block-space*2;

    footer {
      margin-top: -$block-space;
      text-align: right;
    }
  }

  &-heading {
    color: $special-color;
    font-family: $heading-font;
    font-weight: normal;
    line-height: 1;
    margin: 1em 0 $block-space;
  }

  &-link {
    color: $link-color;
    text-decoration: underline;
    text-decoration-color: $link-line-color;
    transition: color $focus-time, text-decoration-color $focus-time;

    &:focus,
    &:hover {
      color: $link-focus-color;
      text-decoration-color: $link-line-focus-color;

      .#{$base-class}-image {
        border-color: $link-line-focus-color;
      }
    }

    .#{$base-class}-image {
      border-color: $link-line-color;
    }

    &--external {
      text-decoration-color: $link-line-special-color;

      &:focus,
      &:hover {
        text-decoration-color: $link-line-special-focus-color;

        .#{$base-class}-image {
          border-color: $link-line-special-focus-color;
        }
      }

      .#{$base-class}-image {
        border-color: $link-line-special-color;
      }
    }
  }

  // &-figure, figure {
  //   margin: $block-space 0;

  //   figcaption {
  //     margin: $block-space 0;
  //     text-align: center;
  //   }
  // }

  &-image {
    border: $line-thickness solid $line-color;
    border-radius: $box-radius;
    box-sizing: border-box;
    max-height: 100vh;
    max-width: 100%;
    transition: border-color $focus-time;

    &--left {
      float: left;
      margin-bottom: $box-padding;
      margin-right: $box-padding;
      max-width: 50%;
    }

    &--right {
      float: right;
      margin-bottom: $box-padding;
      margin-left: $box-padding;
      max-width: 50%;
    }

    &--center {
      display: block;
      margin: 0 auto;
    }

    &--no-border {
      border: 0;
      border-radius: 0;
    }

    &--no-max {
      max-height: none;
      max-width: 100%;
    }
  }
}
