@import '../../tokens.scss';
$base-class: 'Content';

.#{$base-class} {
  background: $section-bg-color;
  border: $line-thickness solid $line-color;
  border-radius: $box-radius;
  margin: $section-space $box-padding;
  opacity: 1;
  padding: $box-padding;
  transition: opacity $fade-time;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &--loading {
    animation: $delayed-fade-half-in-animation;
    display: flex;
    justify-content: center;
    opacity: 0.5;
  }

  &-heading {
    color: $special-color;
    font-family: $heading-font;
    font-weight: normal;
    line-height: $heading-line-height;
    margin: 1em 0 $block-space;
  }

  &-block {
    margin: $block-space 0;

    &--center {
      text-align: center;
    }
  }

  figure.#{$base-class}-block {
    padding: $box-padding;

    figcaption {
      font-size: $small-font-size;
      line-height: $small-line-height;
    }
  }

  &-list {
    margin: $block-space 0;
    padding: 0 0 0 $list-padding;

    li {
      padding: 0 0 $box-padding;

      > p {
        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-quote {
    margin: $quote-space;

    footer {
      margin-top: -$block-space;
      text-align: right;
    }
  }

  &-link {
    color: $link-color;
    text-decoration: underline;
    text-decoration-color: $link-line-color;
    transition: color $focus-time, text-decoration-color $focus-time;

    &:focus,
    &:hover {
      color: $link-focus-color;
      text-decoration-color: $link-line-focus-color;

      .#{$base-class}-image {
        border-color: $link-line-focus-color;
      }

      .Icon {
        color: $link-focus-color;
      }
    }

    .#{$base-class}-image {
      border-color: $link-line-color;
    }

    &--external {
      text-decoration-color: $link-line-special-color;

      &:focus,
      &:hover {
        text-decoration-color: $link-line-special-focus-color;

        .#{$base-class}-image {
          border-color: $link-line-special-focus-color;
        }
      }

      .#{$base-class}-image {
        border-color: $link-line-special-color;
      }
    }

    .Icon {
      float: left;
      margin: -0.25em 0.25em -0.75em 0;
    }
  }

  &-image {
    border: $line-thickness solid $line-color;
    border-radius: $box-radius;
    max-height: 100vh;
    max-width: 100%;
    transition: border-color $focus-time;

    &--left {
      float: left;
      margin-bottom: $box-padding;
      margin-right: $box-padding;
      max-width: 50%;
    }

    &--right {
      float: right;
      margin-bottom: $box-padding;
      margin-left: $box-padding;
      max-width: 50%;
    }

    &--center {
      display: block;
      margin: 0 auto;
    }

    &--no-border {
      border: 0;
      border-radius: 0;
    }

    &--no-max {
      max-height: none;
      max-width: 100%;
    }
  }
}
