@import '../../tokens.scss';

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  &-title {
    color: $special-color;
    font-family: $heading-font;
    font-weight: normal;
    line-height: 0.8;
    margin: 0;
    padding: $box-padding $box-padding 0;
    text-align: center;
    text-shadow: 0 0 $shadow-thickness $line-color;

    @media (min-width: $large-width) {
      text-align: left;
    }

    a {
      color: inherit;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $link-focus-color;
      }

      &.active {
        &:focus,
        &:hover {
          color: inherit;
        }
      }
    }
  }

  &-icons {
    display: flex;
    flex-wrap: wrap;
    gap: $icon-space;
    justify-content: center;
    padding: $box-padding $box-padding 0;

    @media (min-width: $large-width) {
      justify-content: right;
    }

    .Icon {
      box-shadow: 0 0 $shadow-thickness $line-color;

      &.active {
        background-color: transparent;
        box-shadow: none;
        color: $special-color;
      }
    }
  }
}
