@import '../../tokens.scss';

.Header {
  align-items: top;
  display: flex;
  justify-content: space-between;

  &-title {
    color: $special-color;
    font-family: $heading-font;
    font-size: calc(120% + 3vw);
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: $box-padding $box-padding 0;
    text-shadow: 0 0 $shadow-thickness $line-color;
    white-space: nowrap;

    a {
      color: inherit;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $special-focus-color;
      }

      &.active {
        pointer-events: none;
      }
    }
  }

  &-icons {
    display: flex;
    flex-wrap: wrap;
    gap: $icon-space;
    justify-content: right;
    padding: calc($box-padding + 0.5vw) $box-padding 0;

    .Icon {
      box-shadow: 0 0 $shadow-thickness $line-color;

      &.active {
        pointer-events: none;
      }
    }
  }
}
