@import '../../tokens.scss';

.Footer {
  padding: 0 $box-padding $box-padding;
  text-align: center;

  &-icons {
    display: flex;
    flex-wrap: wrap;
    gap: $icon-space;
    justify-content: center;
    margin-bottom: $icon-space;

    .Icon {
      box-shadow: 0 0 $shadow-thickness $line-color;
    }
  }

  &-copyright {
    font-size: $small-font-size;
    line-height: 1;
  }
}
