$heading-font: 'Righteous';

$bg-color: hsl(155, 50%, 15%);
$brown-bg-color: hsl(20, 40%, 30%);
$green-bg-color: hsl(145, 50%, 25%);
$blue-bg-color: hsl(200, 50%, 25%);
$purple-bg-color: hsl(290, 40%, 30%);
$section-bg-color: hsla(290, 40%, 10%, 0.4);
$text-color: hsl(25, 50%, 95%);
$special-color: hsl(215, 90%, 80%);
$special-focus-color: hsl(215, 100%, 85%);
$line-color: hsl(290, 40%, 10%);
$link-color: hsl(45, 90%, 65%);
$link-focus-color: hsl(45, 100%, 80%);
$link-line-color: hsla(215, 90%, 65%, 0.3);
$link-line-focus-color: hsla(215, 100%, 70%, 0.6);
$link-line-special-color: hsla(340, 90%, 65%, 0.3);
$link-line-special-focus-color: hsla(340, 100%, 70%, 0.6);

$line-thickness: 0.1em;
$box-radius: 0.5em;
$box-padding: 1.5vw;
$vertical-space: calc(1rem + 2.5vw);
$icon-space: calc(0.3rem + 0.6vw);

$focus-time: 250ms;
